Source: meteo-qt
Maintainer: LXQt Packaging Team <team+lxqt@tracker.debian.org>
Uploaders: Andrew Lee (李健秋) <ajqlee@debian.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all-dev,
               python3-setuptools,
               pyqt6-dev-tools,
               qt6-tools-dev,
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/lxqt-team/meteo-qt
Vcs-Git: https://salsa.debian.org/lxqt-team/meteo-qt.git
Homepage: https://github.com/dglent/meteo-qt
Rules-Requires-Root: no

Package: meteo-qt
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-lxml
Recommends: meteo-qt-l10n
Description: Application to display weather information
 meteo-qt is an application to display weather information in desktop panels,
 desktop notifications and it's own window.
 .
 Weather data is taken from OpenWeatherMap (http://openweathermap.org/). The
 application is based on Python and Qt.

Package: meteo-qt-l10n
Architecture: all
Multi-Arch: foreign
Section: localization
Depends: ${misc:Depends},
         qttranslations5-l10n
Description: Application to display weather information (translations)
 meteo-qt is an application to display weather information in desktop panels,
 desktop notifications and it's own window.
 .
 This package provides the meteo-qt translations.
